<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lista de contatos
    </ion-title>

    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>

    <ion-item>
      <ion-label (click)="presentToast('Você clicou na Padaria!')">Padaria</ion-label>
    </ion-item>

    <ion-item>
      <ion-label (click)="presentToast('Você clicou no Açougue!')">Açougue</ion-label>
    </ion-item>

    <ion-item>
      <ion-label (click)="presentToast('Você clicou na Farmácia!')">Farmácia</ion-label>
    </ion-item>

    <ion-item>
      <ion-label (click)="presentToast('Você clicou no Mecânico!')">Mecânico</ion-label>
    </ion-item>

    <ion-item>
      <ion-label (click)="presentToast('Você clicou no Médico!')">Médico</ion-label>
    </ion-item>

  </ion-list>
</ion-content>
